<div class="whiteColorDiv">
	<h2>Hair Illusion – Wholesaler Request Complete</h2>

	<div class="row">
		<div class="col-md-12">
			<h4 class='title-text'>Thank you for your interest in Hair Illusion</h4>
			<p>
				We will be in touch soon
			</p>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
</div>
