Congratulations <%= @distributor.company_name %>!  Your Wholesaler Request has been approved!<br/>
<br/>
You can <%= link_to 'log in', new_distributor_url %> to your account with the temporary password: <%= @password %><br/>
Please note that 
<br/>
<p>Wholesalers must order at least $300 worth of combine product</p>
<p>Wholesalers cannot sell the product for lesser than hairillusion standard price.</p>
<br/>
After you login, you will be asked to set your password. 
<br/>
- Hair Illusion<br/>
