

  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                
            </div>
            <div class="modal-body">
           <!-- <div class="modal-body-left">
				<img src="assets/images/product-popup.png" alt="">
                </div>-->
                <div class="col-sm-4">
             </div> 
             
             <div class="col-sm-8"> 
             <div class="model-body-right">           
            <form class="newsletter-form newsletter-popup" action="/subscribe" data-remote="true" method="post">
              <input type="email" name="email" required="true" placeholder="Enter Your Email"> 
              
              <input type="submit" class="btn" value="Submit">
            </form>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>