<div id="order_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% selected_value ||= selected_value %>
  <% country = Carmen::Country.coded(parent_region) %> 
  <% if country.nil? %>
    <em>Please select a country above</em>
  <% elsif country.subregions? %>
    <%= subregion_select(:shipping_value, :state, parent_region,{:onchange=>'updateShippingAddress()'}) %>
  <% else %>
    <%= text_field(:shipping_value, :state, :onchange=>'updateShippingAddress()') %>
  <% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#shipping_value_state").addClass("form-control required'");
		<% if selected_value %>
			$("#shipping_value_state").val("<%=selected_value%>") 
		<%end %>
	})
</script>
