 

  <div class="contains faq-content-1">
      <div class="container ">
        <h3 class="text-uppercase text-center">Hair Illusion FAQ</h3>
        

<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-0" style="color:#000;font-size: 16px">What is Hair Illusion?</a>
      <div id="collapse-1-0" class="panel-collapse out in" style="height: auto;">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion is a cosmetic cure for bald and thin hair. Hair Illusion does not re-grow hair.</p>
      </div>
    </div>
  </div>
  <br>

<div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-222" style="color:#000;font-size: 16px">Will hair illusion wash off?</a>
      <div id="collapse-1-222" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair illusion is a cosmetic product. essentially makeup for your hair. As with all cosmetics it will wash out. We do sell our water resistant spray that will allow you do get it wet.It will stay on in rain, sweating, or light shower water if used.</p>
      </div>
    </div>
  </div>
  <br> 
  
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-333" style="color:#000;font-size: 16px">How long will it stay on?</a>
      <div id="collapse-1-333" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">We have people who keep it on for a week or longer. They use our holding spray and sleep with a doo rag. (Usually only for short hair types)</p>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-1" style="color:#000;font-size: 16px">What is Hair Illusion made of?</a>
      <div id="collapse-1-1" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion is made of real hair fibers. These fibers are made from 100% natural human hair, the same hair you have on your scalp.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-2" style="color:#000;font-size: 16px">Who is the ideal candidate for Hair Illusion?</a>
      <div id="collapse-1-2" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion is ideal for men and woman of all ages and races. Hair Illusion works best on people with thin, fine hair or bald spots.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-3" style="color:#000;font-size: 16px">Can hair illusion be used on completely bald head?</a>
      <div id="collapse-1-3" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Yes.You can apply Hair Illusion to a completely bald head or bald spot. You will need to apply a hair spray or spritz to the area before applying the fibers.</p>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-4" style="color:#000;font-size: 16px">Can Hair Illusion be used with any hair type or any hairstyle?</a>
      <div id="collapse-1-4" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion works with any hair type, ranging from normal coarser hair to vellus hair (fine, non-pigmented hair, often called "peach fuzz") and everything in between.</p>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-5" style="color:#000;font-size: 16px">What is the minimum hair length for it to work?</a>
      <div id="collapse-1-5" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion works best with a minimum 0.5-inch hair length.</p>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-6" style="color:#000;font-size: 16px">Does Hair Illusion work for women?</a>
      <div id="collapse-1-6" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion works equally well for both men and women.</p>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-7" style="color:#000;font-size: 16px">Does Hair Illusion work for African American?</a>
      <div id="collapse-1-7" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion&nbsp;works well with ethnic hair. The texture of the Fibers matches very well with the texture of ethnic hair.</p>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-8" style="color:#000;font-size: 16px">Does hair illusion work on facial hair like beards or mustache?</a>
      <div id="collapse-1-8" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Yes. You will need to apply a liquid spritz or hair spray before applying.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-1-9" style="color:#000;font-size: 16px">How is Hair Illusion different from other hair loss concealers?</a>
      <div id="collapse-1-9" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion is not the typical hair loss concealer.  Hair Illusion is not paint-like or shoe polish-like.  Hair Illusion is made from 100% natural human hair and not from dyed cotton and rayon like our competition.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-2-1" style="color:#000;font-size: 16px">What are available colors?</a>
      <div id="collapse-2-1" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Jet Black, Black, Dark Brown, Brown, Light Brown, Auburn, Dark blonde, Blonde.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-2-2" style="color:#000;font-size: 16px">How do I choose a color for my hair?</a>
      <div id="collapse-2-2" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">It’s simple. Look in the mirror. Look at your hair root color in the thinning area. This is the color to order. If you have highlighted ends with darker roots, match the root color.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-2-3" style="color:#000;font-size: 16px">What if the color I choose does not match my hair?</a>
      <div id="collapse-2-3" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">If you are not satisfied with the color, return the product and exchange it for a different color, or get refund. We offer a 30-day 100% money back guarantee.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-1" style="color:#000;font-size: 16px">Can Hair Illusion be self-applied, or does it require application by a professional?</a>
      <div id="collapse-3-1" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">You can apply Hair Illusion yourself by standing in front of a mirror or holding a hand held mirror.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-2" style="color:#000;font-size: 16px">How long does it take to apply Hair Illusion?</a>
      <div id="collapse-3-2" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Application time varies from 1 to 5 minutes, depending on the size of the thinning area and your skill level. You will get better at applying Hair Illusion after a few uses.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-3" style="color:#000;font-size: 16px">Will Hair Illusion fall out?</a>
      <div id="collapse-3-3" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion will not fall out. It will bond to your thin hair and scalp with static electricity. For a stronger hold, use a fine mist hair spray.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-4" style="color:#000;font-size: 16px">Does Hair Illusion stain?</a>
      <div id="collapse-3-4" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion does not stain. The natural hair fibers do not stain your skin or your clothes. </p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-5" style="color:#000;font-size: 16px">Can I comb my hair after applying Hair Illusion?</a>
      <div id="collapse-3-5" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">You should dry and style your hair before applying Hair Illusion. However, you can still comb your hair after you have applied the product. If you do, be sure to use a wide toothed comb. It is more for shaping than fine grooming. For best results you can also use your hand and fingers.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-6" style="color:#000;font-size: 16px">How long does one application last?</a>
      <div id="collapse-3-6" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Each application can last for several days until you decide to remove it by shampooing your hair. For best results and a longer hold, apply a fine mist hair spray.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-7" style="color:#000;font-size: 16px">Do I need special shampoo to remove Hair Illusion?</a>
      <div id="collapse-3-7" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion can be easily washed off using your everyday shampoo.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-8" style="color:#000;font-size: 16px">How long does one bottle of Hair Illusion last?</a>
      <div id="collapse-3-8" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">It depends on how frequently you apply Hair Illusion and the size of your thinning areas. A 38g bottle of Hair Illusion will last about 30 days if you are using it every day on an average sized thinning area.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-9" style="color:#000;font-size: 16px">How do I use Hair Illusion and Minoxidil at the same time?</a>
      <div id="collapse-3-9" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Yes. Apply Minoxidil or Rogaine first, wait for your scalp to dry completely and then apply Hair Illusion.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-10" style="color:#000;font-size: 16px">What about Propecia? Can I continue to take it while using Hair Illusion?</a>
      <div id="collapse-3-10" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Yes. Hair Illusion is 100% natural it does not interfere with Propecia whatsoever.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-11" style="color:#000;font-size: 16px">Can I use hairspray, hair gels or hair oil?</a>
      <div id="collapse-3-11" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">For a stronger hold, we recommend using hairspray after applying Hair Illusion. If using hair gels, wait for hair gel to dry before applying Hair Illusion. If using hair oils, proceed with caution. Hair Illusion does not work with all types of hair oil. If you do use hair oil, wait for it to dry before using Hair Illusion.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-12" style="color:#000;font-size: 16px">Can I use a curling iron or hair straightener with this product?</a>
      <div id="collapse-3-12" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Yes, you can use a curling iron or hair straightener with Hair Illusion but it is recommended that you do this before applying the product</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-13" style="color:#000;font-size: 16px">If it begins to rain, will Hair Illusion wash out?</a>
      <div id="collapse-3-13" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion stays firmly in place through wind, rain and perspiration. For maximum hold, use fine mist hair spray.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-3-14" style="color:#000;font-size: 16px">Will sweat impact the effectiveness of Hair Illusion?</a>
      <div id="collapse-3-14" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Sweating does not impact the effectiveness of Hair illusion. You can use Hair Illusion while working out with no risk of the product coming off.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-4-1" style="color:#000;font-size: 16px">Does Hair Illusion change normal hair growth pattern?</a>
      <div id="collapse-4-1" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion&nbsp;does not change normal hair growth pattern, as it is not a medicine or drug. It consists of 100% natural human hair fibers. </p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-4-2" style="color:#000;font-size: 16px">Will Hair Illusion block my follicles?</a>
      <div id="collapse-4-2" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion is a safe, topical cosmetic that will not block hair follicles</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-4-3" style="color:#000;font-size: 16px">Is it safe to use Hair Illusion with hair transplants?</a>
      <div id="collapse-4-3" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion&nbsp;can be safely used on hair transplants anytime beyond the scab phase. Surgeons often use Hair Illusion 24 to 48 hours after surgery, but their application techniques vary and often differ from the application instructions provided with your purchase. Always consult your surgeon before using this or any cosmetic immediately after surgery.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-4-4" style="color:#000;font-size: 16px">Does Hair Illusion contain hair dyes?</a>
      <div id="collapse-4-4" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion does not contain any hair dyes, only 100% natural human hair fibers.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-4-5" style="color:#000;font-size: 16px">Are the Hair Illusion ingredients safe?</a>
      <div id="collapse-4-5" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion is a topical cosmetic, not a drug. It does not contain any hair dye and is made from real human hair fibers. It is 100% safe.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-5-1" style="color:#000;font-size: 16px">Is Hair Illusion package and delivery discreet?</a>
      <div id="collapse-5-1" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">The Hair Illusion bottle is completely discreet. The bottle itself has no indications of what this product is. Instructions are printed on the box only. All Hair Illusion products are shipped inside a black box with only Hair Illusion printed on it. With no reference to the actual product inside.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-5-2" style="color:#000;font-size: 16px">Is my personal information kept private?</a>
      <div id="collapse-5-2" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">All your information is held in the strictest confidence. We do not trade, rent or sell your information to outside companies.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-5-3" style="color:#000;font-size: 16px">How long will it take to receive my order?</a>
      <div id="collapse-5-3" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">You'll have your order in a week or less within the USA by First Class Mail. Outside the USA, you'll have it in two to four weeks by Air Mail</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-5-4" style="color:#000;font-size: 16px">Do you ship to PO Box?</a>
      <div id="collapse-5-4" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Yes, we ship to PO Boxes using the Postal Service.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-5-5" style="color:#000;font-size: 16px">How long does it take to receive international orders?</a>
      <div id="collapse-5-5" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Yes, we can ship to any country that accepts International Mail from the USA. Orders arrive in two to four weeks. Please check with your local Postal Office for any fees or tariffs.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-5-6" style="color:#000;font-size: 16px">If I am not happy with Hair Illusion, Can I get my money back?</a>
      <div id="collapse-5-6" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Yes, we offer a money back guarantee. We want you to be 100% satisfied with your purchase, and stand by the quality of our product. Try Hair Illusion risk free. If you don't think it is as effective as we've said it is, simply return the container, even if it's completely empty, within 30 days of receipt of your order.  We'll refund the entire purchase price less shipping and handling, no questions asked.</p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-5-7" style="color:#000;font-size: 16px">Is Hair Illusion available wholesale?</a>
      <div id="collapse-5-7" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Hair Illusion is available wholesale to online merchants, retailers, dermatologists, hair restoration surgeons, hair salons and barbers. We have low minimum requirements and we provide images, video and copy. We welcome you as a reseller of Hair Illusion. Please contact us at <a href="mailto:support@hairillusion.com">support@hairillusion.com</a></p>
      </div>
    </div>
  </div> 

	<br />
  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" href="#collapse-5-8" style="color:#000;font-size: 16px">Will it come off in the rain or from sweating?</a>
      <div id="collapse-5-8" class="panel-collapse collapse out">
        <p style="font-size: 14px; font-weight: normal;">Now with our revolutionary water resistent spray you no longer have to worry about getting your hair wet or sweating.</p>
      </div>
    </div>
  </div> 
  
  
      </div>
    </div>