<div class="row">
	<div class="col-md-9">
		<h4>Fibre Hold</h4>
		<br /> 
		<p>Fiber Hold Spray is Designed To Create a Stronger Bond Between Thinning Hair And Hair Fibers</p>
		<p>After applying hair illusion hair fibers apply our fiber hold spray for a stronger bond.</p>
		<p>Directions: Hold 10-12 inches from hair and use short easy sprays.</p>
		<p>Designed To use with hair illusion hair fibers.</p>
		<p>100% Money Back Guarantee. No questions asked.</p>
	</div>
	<div class="col-md-3">
		<%= image_tag 'HS.jpg', class: 'img-responsive', style: 'margin-left:auto; margin-right:auto' %>
	</div>
</div>
