<br />
<br />
<div class="section" style="color:#fff;border: solid;border-width: 1px;padding: 10px;border-color: #ccc">
	<%= form_for :user, url: forgot_password_email_path, html: { class: 'form-horizontal' }, :remote=>true do |f| %>
	<table>
		<tr>
			<td style="padding: 10px;">Your Email Address:</td>
			<td style="padding: 10px">
				<%= text_field_tag :email, '', class: 'form-control required', :required=>true %></td> 
				<%= hidden_field_tag :from, params[:from]%>
			<td style="padding: 10px"><%= f.submit "Reset", :class=>"btn btn-primary", "data-disable-with"=>"Wait..." %></td> 
		</tr>
	</table>
	<%end%>
</div>