<h2 class="title-text text-center">Hair Illusion – Men’s Hair Loss</h2>

<div class="row">
  <div class="col-md-12">
    <h4 class='title-text'>Male Pattern Baldness</h4>
    <p>
      Hair is made of hair follicles, which are tiny pouches just under the skin surface. A hair normally grows from each follicle for about three years. It is then shed and a new hair grows from the follicle. This cycle of hair growth, shedding and new growth goes on throughout life. The following is thought to occur in men as they gradually become bald:
    </p>
    <ul class="arrow">
      <li>Affected hair follicles on the scalp gradually become smaller than normal.</li>
      <li>As the follicle shrinks, each new hair is thinner than the previous one.</li>
      <li>Before falling out, each new hair grows for much less time than the normal three years or so.</li>
      <li>Eventually, all that remains is a much smaller hair follicle and a thin stump of hair that does not grow out to the skin surface.</li>
      <li>Male hormones are involved in causing these changes. The level of the main male hormone, testosterone, is normal in men with baldness. Hair follicles convert testosterone into another hormone called dihydrotestosterone. For reasons that are not clear, affected hair follicles become more sensitive to dihydrotestosterone, which causes the hair follicles to shrink.</li>
    </ul>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <h4 class='title-text'>True or False? - Wearing hats can cause hair loss</h4>
    <p>
      This is false. Many people think that wearing hats can cause hair loss, but this is not the case. There is absolutely no evidence that hats affect hair loss in any way.
    </p>
    <p>
      One reason why people have come to believe that hat wearing is connected to hair loss is because many men who are losing their hair favor hats to hide that fact. They wear the hat because they're losing their hair, not the other way around. Most commonly, hair loss in men is due to a condition called androgenic alopecia, or 'male-pattern baldness". This condition is a result of age, genetics and hormonal changes. It can be seen as early as the teens in some cases, and is usually seen by age 40.
    </p>
    <p>
      You don’t need a hat, you need Hair Illusion. Hair Illusion helps masque thinning hair and male pattern baldness.
    </p>
  </div>
</div>
