<div class="contains">
	<div class="container" style="text-align: center">

		<h4> Thank you for your message.</h4>

		<h4> We will back to you in few hours.</h4>

		<br />
		<%= link_to "Home", '/', :class=> "btn btn-info"%>
 
	</div>
</div>

