<div class="row">
	<div class="col-md-9">
		<h4>Fibre Hold</h4>
		<br /> 
		<p> Now all you need is a hand held mirror to check your new look.</p> 
		<p> You’ll want to be sure you have perfect coverage and our Hair Illusion Handheld Mirror lets you do that, easily and comfortably, for just $14.00.</p> 
		<p> This mirror is made of lightweight and durable materials making it easy to get a 3600 view.</p>
	</div>
	<div class="col-md-3">
		<%= image_tag 'MRR.jpg', class: 'img-responsive', style: 'margin-left:auto; margin-right:auto' %>
	</div>
</div>
