<div class="row">
	<div class="col-md-9">
		<h4>Fibre Hold</h4>
		<br /> 
			<p>Hairline Optimizer was created specifically to achieve a natural looking hairline when used with HAIR ILLUSION 100 % natural Hair Fibers.</p> 
			<p>It will help eliminate excess product for a clean natural finish & prevent fibers from falling onto the forehead.</p> 
			<p>As a valued customer you’re eligible for the special online price of just $6.95. </p>
			<p>Your Hairline Optimizer is designed to be reused and stores easily for travel. </p>
			<p>Get your’s today at this special price.
	</div>
	<div class="col-md-3">
		<%= image_tag 'OPT.jpg', class: 'img-responsive', style: 'margin-left:auto; margin-right:auto' %>
	</div>
</div>
