    <div class="contains dark">
      <div class="container">
        <h3 class="text-uppercase text-center">Is my invention protected when it is “patent pending”?</h3>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-check hi-highlight"></i> After you submit a patent application to the U.S. Patent and Trademark Office (USPTO), your invention is officially “patent pending” and you may use that term when describing the invention to others.  In fact, because of the large backlog of cases at the USPTO, your invention is likely to stay “patent pending” for several years. </li>
                <br />
                <br />
                <li>
                    <i class="fa fa-check hi-highlight"></i> So what kind of protection do you have when your invention is patent pending?  Is it safe to market your idea to others? Can they simply steal your invention from you once you disclose it to them? </li>
                    
                    <br />
                    <br />
                    
                <li>
                    <i class="fa fa-check hi-highlight"></i> Inventors will be glad to hear that the term “patent pending” actually carries a lot of weight when it comes to stopping others from stealing inventions.  If an inventor has a patent pending for an invention and a company begins to use that invention without his permission, the inventor can proceed to get the patent issued and sue the company for patent infringement.  Patent damages start to accrue from the date that the application is published 18 months after it is filed.  Moreover, the inventor can get triple damages if he can prove the infringement was willful.  Finally, the inventor may also get an injunction against the company, thereby stopping the company from selling any more of the infringing product.  </li>
                <br />
                    <br />
                
                <li>
                    <i class="fa fa-check hi-highlight"></i> All this is not good for the offending company.  By the time the infringement case is over, that company may have to pay triple damages, have to quit selling the product, and lose all its development and marketing costs.. </li>
            <br />
                    <br />
                    <li>
                    	<i class="fa fa-check hi-highlight"></i>
                    	For this reason, you are likely to find that most companies are not likely to rip off your “patent pending” invention if they believe you have a good chance of eventually getting a patent.  These companies will recognize that it is better business to simply buy or license the patent rights from you than steal the idea from you and face the consequences.
                    </li>
            </ul>
          </div>
        </div>
      </div>
    </div>