<div class="contains">
	<div class="container" style="text-align: center">

		<h4> Thank you for your order.</h4>

		<h4> Please check your email for confirmation email.</h4>

		<br />
		<%= link_to "Home", '/', :class=> "btn btn-info"%>
 
	</div>
</div>
