    <div class="contains dark">
      <div class="container">
        <h3 class="text-uppercase text-center">Hair Illusion – What it Is?</h3>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-check hi-highlight"></i> Hair Illusion is a cosmetic product made from 100% real human hair that allows men and women to conceal the appearance of thinning hair and bald spots, giving the impression of more hair. </li>
                <li>
                    <i class="fa fa-check hi-highlight"></i> Hair Illusion does not re-grow hair or stop hair loss; rather, it is only a cosmetic product that hides baldness. </li>
                <li>
                    <i class="fa fa-check hi-highlight"></i> Hair Illusion is the only product using natural human hair. Nothing looks more natural than real human hair. we guarantee it </li>
                <li>
                    <i class="fa fa-check hi-highlight"></i> Hair Illusion is a quick, easy and painless way, to end the suffering and replace it with a full head of hair! Hair Loss hits Hard When you first realize youre hair is thinning, or balding, it's hard not to feel affected. Regardless of age, for most of us, thinning or balding hair is a problem. So we look for solutions. And there's no shortage of them from creams to dry powders ... the bottomline is simple though. Nothing looks more natural than real human hair. The 1 ingredient found in hair illusion. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="contains">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <p class="text-center">From hair concealers to hair sprays, 99.99% of competitors products on the market are sub par ... especially compared to the REAL human hair fibers found in Hair Illusion.</p>
            <p class="text-center">The competition simply doesn't get the job done with synthetic chemicals.</p>

            <table class="table" bordercolor="#231f20">
                      <thead>
                        <tr style="background-color: #231f20; color: #ffffff">
                          <th width="33%"></th>
                          <th width="33%" style="text-align: center"><strong><img alt="Hair illusion logo 40" src="/assets/logo.png"></strong></th>
                          <th width="33%" style="text-align: center; vertical-align:middle;"><strong>Competition</strong></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="background-color: #231f20; color: #ffffff; border-bottom-color: #ffffff"><strong>100% Real Human Hair</strong></td>
                          <td style="text-align: center; color: green;">✓</td>
                          <td style="text-align: center; color: red;">✗</td>
                        </tr>
                        <tr>
                          <td style="background-color: #231f20; color: #ffffff; border-bottom-color: #ffffff"><strong>Free of Animal Content</strong></td>
                          <td style="text-align: center; color: green;">✓</td>
                          <td style="text-align: center; color: red;">✗</td>
                        </tr>
                        <tr>
                          <td style="background-color: #231f20; color: #ffffff; border-bottom-color: #ffffff"><strong>No Synthetic Dyes</strong></td>
                          <td style="text-align: center; color: green;">✓</td>
                          <td style="text-align: center; color: red;">✗</td>
                        </tr>
                        <tr>
                          <td style="background-color: #231f20; color: #ffffff; border-bottom-color: #ffffff"><strong>Silica Free</strong></td>
                          <td style="text-align: center; color: green;">✓</td>
                          <td style="text-align: center; color: red;">✗</td>
                        </tr>
                        <tr>
                          <td style="background-color: #231f20; color: #ffffff; border-bottom-color: #ffffff"><strong>Cotton Free</strong></td>
                          <td style="text-align: center; color: green;">✓</td>
                          <td style="text-align: center; color: red;">✗</td>
                        </tr>
                        <tr>
                          <td style="background-color: #231f20; color: #ffffff; border-bottom-color: #ffffff"><strong>Wool Free</strong></td>
                          <td style="text-align: center; color: green;">✓</td>
                          <td style="text-align: center; color: red;">✗</td>
                        </tr>
                        <tr>
                          <td style="background-color: #231f20; color: #ffffff; border-bottom-color: #ffffff"><strong>Amonium Cloride Free</strong></td>
                          <td style="text-align: center; color: green;">✓</td>
                          <td style="text-align: center; color: red;">✗</td>
                        </tr>
                      </tbody>
            </table>

            <p class="text-center">Hair Illusion does something simpler. Using Real Human Hair Fiber, it electro statically bonds to your hair and scalp. Literally giving the ‘illusion’ of having a full head of hair. Look for yourself</p>
            <p class="text-center">Hair Illusion, the only product with REAL human hair fibers. Takes minutes to completely change the way YOUR head of hair looks.</p>
          </div>
        </div> 

      </div>
    </div>

    <div class="contains dark" style="background-color:#242424;">
      <div class="container">
        <h3 class="text-uppercase text-center">About Hair Illusion</h3>
        <div class="row">
          <div class="col-sm-4 text-center">
          <img src="/assets/ceo-quote.png">
        </div>
          <div class="col-sm-8">
            <p><em>"Now that I have been using Hair Illusion, my confidence is back!"</em></p>
            <p>I was voted <q>best hair</q> in junior high school. For me, this is emotional and something I never expected.</p>

            <p>
              My name is Ronnie and I'm the founder of Hair Illusion. I founded the company largely as a result of my own battle with hair loss. While perfection is quite hard to achieve, it’s certainly something I strive for everyday in my appearance.
            </p>

            <p>
              As I have gotten older and started losing more and more of my hair, I have looked for any solution available and tried all products that I have come across. After trying Rogaine and Propecia, I was less than satisfied. Next, I tried hair concealers.  After endless hours of Internet searching, I ordered my first bottle. I didn’t expect a miracle, but I was hoping that it would do a decent job masking my thinning hair. What I saw was simply amazing. It was a perfect fix. One minute I would walk into the bathroom with a big bald spot, and three minutes later I’d walk out with a <q>full head of hair.</q>
            </p>

            <p>
              A few weeks after initially trying the concealer, I was on vacation in Miami with friends. At that point, I hadn’t told anyone about the hair concealer. One afternoon, I showered and showed several of them my head and just how bald I was. Next, I went into the bathroom and applied the concealer. When I came out, I shocked everyone. They were amazed. It was right then when I knew I had an amazing product and that I could make it even better and help bald people everywhere. After years of research and searching all over the world, I have created Hair Illusion. Hair Illusion is different than other hair concealers. How? Hair Illusion is made with one ingredient, and one ingredient only... REAL hair. You simply can't get a better match than with real hair. While other concealers work well they are filled with chemicals and made from cotton and rayon. If you look closely, it actually looks like dust. To me, this isn’t perfect. Real hair fibers are perfect. 
            </p>

            <p>Today, I stand by my product 100%. If I didn’t, I wouldn't use it on my own head.</p>
          </div>
        </div>
        
        
        
      </div>
    </div>