<h2 class="title-text text-center">Hair Illusion – Women’s Hair Loss</h2>

<p>Today there are more than 30 million women experiencing hair loss in North America. Forty percent of all women will have some female pattern hair loss by the time they reach menopause, and nearly half of all women will experience some form of hair loss by age 50.</p>

<br/>

<div class="row">
  <div class="col-md-12">
    <h4 class='title-text'>What is androgenetic alopecia?</h4>
    <p>Almost every woman eventually develops some degree of female pattern hair loss. It can start any time after the onset of puberty, but women tend to first notice it around menopause, when hair loss typically increases. The risk rises with age, and it's higher for women with a history of hair loss on either side of the family.</p>

    <p>As the name suggests, androgenetic alopecia involves the action of the hormones called androgens, which are essential for normal male sexual development and have other important functions in both sexes, including sex drive and regulation of hair growth. The condition may be inherited and involve several different genes. It can also result from an underlying endocrine condition, such as overproduction of androgen or an androgen-secreting tumor on the ovary, pituitary, or adrenal gland. In either case, the alopecia is likely related to increased androgen activity. But unlike androgenetic alopecia in men, in women the precise role of androgens is harder to determine. On the chance that an androgen-secreting tumor is involved, it's important to measure androgen levels in women with clear female pattern hair loss.</p>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <h4 class='title-text'>What specific treatments are there for woman?</h4>
    <p>Female hair loss treatments include minoxidil (Rogaine), hair transplants, hair  fibers like Hair Illusion and weaves. Non-FDA-approved and off-label use of Propecia may be discussed with your doctor.</p>

    <p>Minoxidil (Rogaine) is available over the counter and available in 2%, 4%, and 5% concentrations.  Propecia is a drug that is currently FDA approved only in men for help in hair loss. It has undergone extensive safety testing on women and it was found to be safe in postmenopausal women. Surgical procedures like hair transplants can be useful for some women to fill in thin areas.</p>
  </div>
</div>
