<h4 style="text-align: center">TESTIMONIALS</h4>

<h3 style="text-align: center">WHAT ARE PEOPLE TALKING ABOUT US</h3>
<br />
<div class="col-md-12">
	<%= image_tag 'test.jpg', :style=>"width:100%" %>
</div>
<div class="col-md-12" style="text-align:center;padding: 15px">
	<%= link_to "View More Reviews on Our Products" , "/more_reviews", :class=>"btn btn-danger", :style=>";font-size: 30px"%>
</div>


