<div class="whiteColorDiv">
<h2>Hair Illusion – Order Complete</h2>

<div class="row">
  <div class="col-md-12">
    <h4 class='title-text'>Thank you for your order</h4>
    <p>You will recieve an email confirming your order shortly</p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>

<% if Rails.env.production? %>
<!-- Google Code for Sale Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 973186571;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "sBh7CIXmrgcQi8yG0AM";
	var google_conversion_value = 1.00;
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/973186571/?value=1.00&amp;label=sBh7CIXmrgcQi8yG0AM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>

  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/973066037/?value=0&amp;label=U_vCCJva-wcQtZ7_zwM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
<% end %>
</div>
