<div id="distributor_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>

  <% if country.nil? %>
    <em>Please select a country above</em>
  <% elsif country.subregions? %>
    <%= subregion_select(:distributor, :state, parent_region,{},{:class=>' form-control'} ) %>
  <% else %>
    <%= text_field(:distributor, :state) %>
  <% end %>
</div>