<!DOCTYPE html>
<html>
<head>
  <title>Your Hair Illusion Order has Shipped</title>

  <!-- CSS goes in the document HEAD or added to your external stylesheet -->
  <style type="text/css">
    body {
      margin:    0 auto;
      max-width: 550px;
      padding: 20px 0;
    }
    table.gridtable {
      width: 100%;
      font-family: verdana,arial,sans-serif;
      font-size:11px;
      color:#333333;
      border-width: 1px;
      border-color: #666666;
      border-collapse: collapse;
    }
    table.gridtable th {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #666666;
      background-color: #dedede;
    }
    table.gridtable td {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #666666;
      background-color: #ffffff;
    }
  </style>
</head>
<body>
  <strong>Your Hair Illusion Order has Shipped!</strong>
  <table class="gridtable">
    <thead>
      <tr>
        <th width="60%">Order #</th>
        <th width="40%"><%= @order.id %></th>
      </tr>
      <tr>
        <th width="60%">USPS Tracking #</th>
        <th width="40%"><%= @order.tracking_number %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>
          <strong>Questions?</strong>
          Contact Hair Illusion at<br/>
          <%= mail_to('support@hairillusion.com') %><br/>
        </th>
        <th>
          <strong>Hair Illusion</strong>
          <%= link_to 'www.buyhairillusion.com', root_url %><br/>
        </th>
      </tr>
    </tfoot>
    <tbody>
    </tbody>
  </table>
</body>
