<div class="grid-pager row">
  <div class="col-md-2">
    <a href="#" id="first" class="btn btn-sm"><i class="glyphicon glyphicon-fast-backward"></i></a>
    <a href="#" id="previous" class="btn btn-sm"><i class="glyphicon glyphicon-step-backward"></i></a>
    <a href="#" id="next" class="btn btn-sm"><i class="glyphicon glyphicon-step-forward"></i></a>
    <a href="#" id="last" class="btn btn-sm"><i class="glyphicon glyphicon-fast-forward"></i></a>
  </div>
  <div class="col-md-2">
    <span id="pagedisplay"></span>
  </div>
  <div class="col-md-3 col-md-offset-5">
    Results per page:
    <span id="pagesize"></span>
  </div>
</div>
